.container{
	float:left;
	clear:left;
}
.aspk_products_span{
	font-weight: 900;
	color:#464646;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .5px;
}
.aspk_Select_Category{
	float:left;
	clear:left;
}
.aspk_text_feild_select_category{
	clear:left;
	float:left;
	margin-top:1em;
	width:48em;
}
.aspk_product_details{
	margin-bottom:1em;
	clear:both;
}
.aspk_title{
	float:left;
	clear:left;
}
.aspk_text_feild_title{
	clear:left;
	float:left;
	margin-top:1em;
	
}


.aspk_description{
	clear:left;
	
	
}
.aspk_text_feild_select_category{
	clear:left;
	float:left;
	
}
.aspk_product_border{
	border-bottom: 4px solid #000;
}
.aspk_pickupadreess{
	clear:left;
	float:left;
	margin-top:1em;
	width:53em;
}
.aspk_streetadress{
	clear:left;
	float:left;
	margin-top:1em;
	width:53em;
}
.aspk_city{
width:25em;
}
.aspk_pickup_adress{
	clear:left;
	
}

.sub_category{
margin-top:1em;
}
.aspk_text_feild_select_category_sub{

	width:48em
}
.upload_image{
	height:30em;
	width:48em;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #f5f5f5;
	clear:left;
}
.aspk_contact_us{
	
	height: 4em;
	margin-bottom: 1em;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background-color: #f5f5f5;
	
}



